{% extends "member/base.html" %}
{% block body_block %}
<div class="DetailContainer">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Roll No.</th>
		      <th scope="col">Profile picture</th>
		      <th scope="col">First Name</th>
		      <th scope="col">Last Name</th>
		      <th scope="col">Age</th>
		      <th scope="col">Address</th>
          <th scope="col">Father Name</th>
          <th scope="col">Mother Name</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Class</th>
		    </tr>
		  </thead>
		  <tbody>
        {% if details %}
        {%for i in details%}
		    <tr>
		      <th scope="row">i.rollno</th>
		      <td class="w-25">
			      <img src="{{i.pic}}" class="img-fluid img-thumbnail" alt="{{i.fname}}">
		      </td>
		      <td>{{i.fname}}</td>
		      <td>{{i.lname}}</td>
		      <td>{{i.age}}</td>
		      <td>{{i.address}}</td>
          <td>{{i.fathername}}</td>
          <td>{{i.mothername}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.school}}</td>
          <td>{{i.sclass}}</td>
		    </tr>
        {% endfor %}
        {% else %}
          <h1>no data found</h1>
        {% endif %}
		  </tbody>
		</table>
    </div>
  </div>
</div>
{% endblock %}
